[Unit]
Description=Encrypted DNS Server service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
User=snwmds
ExecStart=/home/snwmds/.cargo/bin/encrypted-dns --config '/etc/encrypted-dns-server/encrypted-dns.toml'

[Install]
WantedBy=multi-user.target