[Unit]
Description=Unbound service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
User=root
ExecStart=/usr/sbin/unbound -c '/etc/unbound/unbound.conf' -d

[Install]
WantedBy=multi-user.target